{% extends 'base.html.twig' %}

{% block title %}
Lan night - Brienon Sur Arman&ccedil;on - Accueil
{% endblock %}

{% block body %}

<div class="sidebar">
	<div class="sidebar_remaining_days">
		TODO: Remaining days
	</div>

	<div class="sidebar_remaining_places">
		TODO: Remaining place
	</div>

	<div class="sidebar_news">
		<div class="sidebar_news_headtitle">Au Rapport</div>
		TODO: Afficher news
	</div>
</div>

<div class="mot_accueil">
	<p>
		A l'intention du <i>gamer</i> qui sommeil en toi.
	</p>

	<p>
		Suite au succ&egrave;s rencontr&eacute; l'an pass&eacute; par la
		premi&egrave;re &eacute;dition de la nuit du jeu en
		r&eacute;seau, la section
		&#171;&nbsp;<i>Informatique</i>&nbsp;&#187; de la Sentinelle a
		reprit le flambeau pour mettre en place la
		<strong>LAN&nbsp;NIGHT&nbsp;&Eacute;dition&nbsp;2010</strong>.
	</p>
	<p>
		L'instant d'une nuit, rejoint d'autres
		<i>gamers</i>
		(passionn&eacute;s ou d&eacute;butants) dans des parties
		multi-joueurs jouissives. Pas de comp&eacute;tition, juste le
		plaisir de jouer, et l'ambiance du r&eacute;seau local.
	</p>
	<p>
		Si tu as encore des points &agrave; &eacute;claircir, rend toi
		sur la page
		<a href="#">infos</a>. La plupart de tes doutes y seront
		lev&eacute;s.
	</p>
	<p>
		Si au contraire, tu sais tous ce qu'il y a &agrave; savoir et
		que tu veux participer, rends toi directement sur la page
		<a href="#">inscriptions</a>
		afin de r&eacute;server ta place pour cette nuit unique.
	</p>
	<p class="mot_accueil_signature">
		Julien alias
		<b>Acronyme</b>
	</p>
</div>
</div>
{% endblock %}