{% extends 'base.html.twig' %}

{% block title %}
	Contact
{% endblock %}

{% block body %}
	<h1>
		Comment nous contacter
	</h1>

	<p>
		Pour nous contacter rapidement, rien de plus simple ! Remplissez
		fomulaire en indiquant soit un numero de t&eacute;l&eacute;phone, soit
		une adresse e-mail o&ugrave; l'on peut vous joindre, ainsi que votre
		question, et nous t&acirc;cherons d'y r&eacute;pondre au plus vite.
	</p>
	{% if errorMessage %}
		<div class="mx-auto w-full p-4 text-orange-400 rounded-lg border-orange-400 border-solid border-2 my-8">
			<p class="text-center mb-0">
				Impossible d'envoyer le formulaire de contact pour le moment.
				<br />
				R&eacute;essayez plus tard ou contactez directement au num&eacute;ro
				ci-dessous.
			</p>
		</div>
	{% endif %}

	{% if app.flashes('success') is not empty %}
		<div class="flex items-center mx-auto w-full max-w-lg p-4 text-lime-400 rounded-lg border-lime-400 border-solid border-2 my-4">
			<p class="text-center">
				Message envoy&eacute; ! Nous reviendrons vers vous au plus vite.
			</p>
		</div>
	{% endif %}

	<div class="flex flex-row-reverse items-center justify-center gap-8 flex-wrap-reverse">
		<div>
			{{ include('shared/addressMTB.html.twig') }}
		</div>
		<div class="flex-grow">
			{{ include('forms/contact.html.twig') }}
		</div>
	</div>
{% endblock %}
