{% extends 'base.html.twig' %}

{% block title %}
	Infos
{% endblock %}

{% block body %}
	<h1>
		Informations
	</h1>
	<section>
		<h2>
			Date et lieu de l'&eacute;v&eacute;nement
		</h2>

		<p>
			La LAN NIGHT &eacute;dition 2010 aura lieu dans la nuit du 13 au 14
			f&eacute;vrier 2010 &agrave; la SALLE DES F&Ecirc;TES de BRIENON SUR
			ARMAN&Ccedil;ON. Elle d&eacute;butera &agrave; 16h00 avec l'accueil
			des participants et l'installation de leur materiel afin de lancer
			les premi&egrave;res parties au alentour de 17h00. Arr&ecirc;t des
			jeux &agrave; 06h30 avec petit d&eacute;jeuner &agrave; la
			cl&eacute; offert pour les plus valeureux.
		</p>

		<div class="ltr bg-white text-black p-4 my-6">
			<p class="border-s-4 border-black pl-4">
				<strong>Important</strong> : A partir de 22:30, nous n'acceuillerons
				plus de nouveaux participants.
			</p>
		</div>
		<div class="flex flex-row justify-center items-center gap-8 min-h-[300px] flex-wrap">
			<div class="flex-grow">
				<iframe class="w-full min-w-80 h-80"
					src="https://www.openstreetmap.org/export/embed.html?bbox=3.6135631799697876%2C47.992357558905084%2C3.6187988519668584%2C47.99391022265777&amp;layer=mapnik&amp;marker=47.99313389662125%2C3.6161810159683228"
					style="border: 1px solid black"></iframe>
				<div class="text-center">
					<small>
						<a href="https://www.openstreetmap.org/?mlat=47.993134&amp;mlon=3.616181#map=19/47.993134/3.616181">
							View Larger Map
						</a>
					</small>
				</div>
			</div>
			<div class="text-center">
				<h3 class="text-lg font-semibold mb-3">
					Adresse de la salle
				</h3>
				<address>
					Salle des Fêtes de Brienon<br />
					Place Emile Drominy 89210 <br />
					Brienon-sur-Armançon
				</address>
			</div>
		</div>
	</section>
	<section>
		<h2>
			Tarif
		</h2>

		<p>
			L'organisation d'un tel &eacute;v&eacute;nement g&eacute;n&egrave;re
			des co&ucirc;ts (location de la salle, chauffage et
			&eacute;lectricit&eacute;, achat/location de mat&eacute;riel ...).
			Notre but &eacute;tant de partager un instant de plaisir avec vous,
			l'inscription &agrave; &eacute;t&eacute; fix&eacute;e &agrave;
			5&euro;.
		</p>

		<p>
			Celle-ci inclue :
		</p>

		<ul class="list-inside list-disc my-4">
			<li>Les frais de participation</li>
			<li>
				Un repas comprenant :<ul class="list-inside list-disc ml-8">
					<li>
						Un croque-monsieur chaud OU un sandwich
						thon/crudit&eacute;/mayonnaise
					</li>
					<li>Une barquette de frites OU un paquet de chips</li>
					<li>
						Une boisson sans alcool au choix (Coca-cola, Jus
						d'orange, eau ...)
					</li>
					<li>Une part de g&acirc;teau</li>
				</ul>
			</li>
		</ul>

		<p>
			Outre le repas un espace "SNACK BAR" sera ouvert tout au long de
			l'&eacute;venement vous offrant la possibilit&eacute; d'acheter des
			boissons et du caf&eacute; ainsi que des frites, chips, gateaux,
			sandwich ... Pour plus de d&eacute;tails, vous pouvez consulter la <a href="{{
				asset(
					'build/pdf/tarif_snack_2010.pdf'
				)
				}}"
				target="_blank">
				grille des tarifs 2010
			</a>.
		</p>
	</section>
	<section>
		<h2>
			Materiel requis
		</h2>

		<p>
			Vous devrez venir avec votre propre ordinateur (fixe ou portable),
			nous n'en fournirons pas. Celui-ci devra poss&eacute;der un carte
			r&eacute;seau filaire type RJ45 (cf. illustration ci-dessous).
		</p>

		<div class="h-70 my-4 text-center">
			<img src="{{ asset('build/images/connectique_reseau.jpg') }}"
				alt="Connectique r&eacute;seau RJ45"
				class="w-auto h-full mx-auto" />
		</div>

		<p>
			Si vous disposez d'un cable r&eacute;seau type RJ45 (crois&eacute;
			ou droit) d'au moins 5m, pensez &agrave; le ramener. Si au contraire
			vous n'en avez pas, pr&eacute;cisez le lors de l'inscription. Un
			cable pourra alors vous &ecirc;tres pr&eacute;t&eacute;.
		</p>

		<p>
			Si vous voulez profiter du son <i>in-game</i>, pensez &agrave;
			apporter avec vous un casque audio. Aucune enceinte ne sera
			tol&eacute;r&eacute;e.
		</p>

		<div class="ltr bg-white text-black p-4 my-6">
			<p class="border-s-4 border-black pl-4">
				<strong>IMPORTANT :</strong>Vous ne disposerez que d'une seule
				prise &eacute;lectrique. Pensez donc &agrave; prendre une
				multiprise avec cordons pour alimenter votre materiel.
			</p>
		</div>
	</section>
{% endblock %}
