{% extends 'base.html.twig' %}

{% block title %} Inscriptions {% endblock %}

{% block body %}
<p>
    Vous &ecirc;tes sur le point de vous inscrire pour participer &agrave; la
    LAN NIGHT &eacute;dition 2010.
    Il reste encore
    TODO: place restantes
    places.
    L'inscription sera valid&eacute;e UNIQUEMENT sous ces conditions :
</p>
<ul>
    <li>r&eacute;ception du paiement de 5 euros (cf. <a href={{ path('app_informations') }}>infos</a>)</li>
    <li>Signature du r&egrave;glement int&eacute;rieur</li>
    <li>Remise l'autorisation parentale sign&eacute; (si besoin)</li>
    <li>Pr&eacute;sentation de la pi&egrave;ce d'identit&eacute; du participant</li>
</ul>

<p>
    Les documents sont disponible &agrave; la Maison du Tourisme Brienonais
    (adresse sur <a href={{ path('app_contact') }} title="Nous contacter">cette page</a>).
    La secretaire pourra &eacute;galement prendre votre paiement.
</p>

<p>
    Ces formalit&eacute;s pourront &ecirc;tre r&eacute;alis&eacute;es le jour
    de la LAN NIGHT. Mais votre place ne sera pas r&eacute;serv&eacute;e.
</p>

<p class="mise_a_jour">
    ATTENTION : Les documents &agrave; remplir au MTB ne seront disponible
    que le 08/01/2010. Merci de votre compr&eacute;hention.
</p>

<p>
    Conform&eacute;ment &agrave; la loi "Informatique et Libert&eacute;s" N 78-17
    du 6 Janvier 1978 , vous b&eacute;n&eacute;ficiez d'un droit d'acc&egrave;s,
    de rectification et d'opposition sur vos donn&eacute;es personnelles
    que vous pouvez exercer en nous contactant
    gr&acirc;ce &agrave; <a href={{ path('app_contact') }} title="Nous contacter">cette page</a>.
</p>
<p>
    Celles-ci ne seront ni transmises, ni utilis&eacute;es pour
    d'autres fins que l'organisation de la LAN NIGHT.
</p>

<div class="form-container">
    <div class="inscription_illustration">
        <img src="pictures/inscription_illustration.jpg" alt="Photo lan night 2009" />
    </div>

    <div class="formulaire_inscription">
        <form>
            <fieldset>
                <legend>Formulaire d'inscription</legend>
                <p>
                    <label for="nom_de_famille">Nom de famille* : </label>
                    <input type="text" name="nom_de_famille" id="nom_de_famille" size="50" maxlength="50" />
                </p>
                <p>
                    <label for="prenom">Pr&eacute;nom* : </label>
                    <input type="text" name="prenom" id="prenom" size="50" maxlength="50" />
                </p>
                <p>
                    <label for="jour">Date de naissance* :</label>
                    <input type="text" name="jour" id="jour" size="2" maxlength="2" /> /
                    <input type="text" name="mois" id="mois" size="2" maxlength="2" /> /
                    <input type="text" name="annee" id="annee" size="4" maxlength="4" />
                    &nbsp;&nbsp;&nbsp;&nbsp;(JJ/MM/AAAA)
                </p>
                <p>
                    <label for="adresse">Adresse* : </label>
                    <input type="text" name="adresse" id="adresse" size="50" maxlength="50" />
                </p>
                <p>
                    <label for="code_postal">Code postal* : </label>
                    <input type="text" name="code_postal" id="code_postal" size="5" maxlength="5" />
                </p>
                <p>
                    <label for="ville">Ville* : </label>
                    <input type="text" name="ville" id="ville" size="50" maxlength="50" />
                </p>
                <p>
                    <label for="email">E-mail* : </label>
                    <input type="text" name="email" id="email" size="50" maxlength="50" />
                </p>
                <p>
                    <label for="telephone">T&eacute;l&eacute;phone : </label>
                    <input type="text" name="telephone" id="telephone" size="10" maxlength="10" />
                </p>
                <p class="checkbox">
                    <input type="radio" name="cable" value="cable_ok" id="cable_ok" />
                    <label for="cable_ok">Je poss&egrave;de un cable r&eacute;seau d'au moins 5m que je
                        ram&egrave;nerai.</label>
                </p>
                <p class="checkbox">
                    <input type="radio" name="cable" value="cable_needed" id="cable_needed" />
                    <label for="cable_needed">Je n'ai pas de tel cable, je souhaiterai que l'on m'en pr&ecirc;te
                        un.</label>
                </p>
                <p class="envoi">
                    <input type="submit" value="Envoyer" name="envoyer" id="envoyer" />
                </p>
            </fieldset>
        </form>
    </div>
</div>
{% endblock %}