/*----------    Reset CSS    ----------*/
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul {
	list-style: none;
	padding: 0;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements */
a {
	text-decoration: none;
	color: inherit;
	font-weight: bold;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/*----------    Variable    ----------*/

:root {
	--blue: #00ccff;
	--orange: #ff7700;
	--green: #aaff00;
	--dark: #191919;
	--light: #fafafa;

	--widget-border-radius: 12px;
}

/*----------    Global style    ----------*/
body {
	background-color: #000000;

	background-image: url('../pictures/design/background.jpg');
	background-repeat: no-repeat;
	background-position: top center;
}

h1 {
	font-size: 1.5rem;
}

h2 {
	font-size: 1.3em;
	color: var(--orange);
	text-decoration: underline;
}

h1,
h2,
h3,
h4 {
	margin-bottom: 1rem;
}

p {
	line-height: 1.5rem;
	margin-bottom: 1rem;
}

.container {
	max-width: 900px;
	margin: auto;
	padding: 2rem;

	font-size: 16px;

	color: var(--light);
}

.container a {
	text-decoration: none;
	color: #aaff00;
}

.container a:hover {
	text-decoration: underline;
}

.container a:visited {
	color: #00ccff;
}

/*----------    Helpers    ----------*/
.text-center {
	text-align: center;
}

.widget {
	border: 2px solid var(--green);
	background-color: var(--dark);
	color: var(--light);

	margin: 0.5rem 0;
	padding: 0.5rem;
}

.widget:nth-child(3n + 1) {
	border-color: var(--green);
	color: var(--green);
}
.widget:nth-child(3n + 2) {
	border-color: var(--orange);
	color: var(--orange);
}
.widget:nth-child(3n) {
	border-color: var(--blue);
	color: var(--blue);
}
.widget-top {
	border-top-left-radius: var(--widget-border-radius);
	border-top-right-radius: var(--widget-border-radius);
}
.widget-middle {
	border-radius: 0;
}
.widget-bottom {
	border-bottom-left-radius: var(--widget-border-radius);
	border-bottom-right-radius: var(--widget-border-radius);
}
.widget-standalone {
	border-radius: var(--widget-border-radius);
}

.btn {
	display: block;
	border: 2px solid white;
	border-radius: 0.5rem;
	padding: 0.3rem 0.6rem;
	margin: 0.3rem 0.6rem;
}

.btn-green {
	border-color: var(--green);
	color: var(--green);
}

a.btn-green:visited {
	color: var(--green);
}

.btn-green:hover {
	background-color: var(--green);
	color: var(--dark) !important;
	text-decoration: none !important;
}

.link-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}
.link-group {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	margin-bottom: 2rem;
}

/*----------    MENU HORIZONTAL    ----------*/

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	margin-top: 245px;
	margin-left: 250px;
}

.menu img {
	border: none;
}

.menu li {
	list-style-type: none;
}

.menu-splitter {
	height: 40px;
	width: 2px;

	margin: 0 0.5rem;

	background-color: rgba(255, 255, 255, 0.2);
}

/*----------    Homepage    ----------*/
.homepage-container {
	display: flex;
	flex-direction: row-reverse;
	gap: 2rem;
}

.sidebar {
	width: 300px;
}

.homepage-main {
	text-indent: 25px;
}

.homepage-container .signature {
	text-align: right;
	margin-right: 60px;
	margin-top: 35px;
}

/*----------- Debut Formulaire Inscription -----------*/

.register-form-container {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: row-reverse;
}

.non_valide {
	text-decoration: line-through;
}

.mise_a_jour {
	font-weight: bold;
	color: red;
}

/*------ Debut page Infos ------*/

.infos_illustrations {
	text-align: center;
}

/*------ Debut page Tools ------*/

.tools p {
	text-indent: 25px;
}

.tools_title {
	font-size: 1.3em;
	color: #ff7700;
	text-decoration: underline;
	margin-top: 25px;
}

.tools_liens_download {
	text-indent: 0px;
}

/*------ Form Generic -----*/
.form .form-group {
	display: flex;
	flex-direction: column;

	margin-bottom: 0.75rem;
}

.form .form-checkbox {
	display: flex;
	flex-direction: row;
	align-items: baseline;

	margin-bottom: 0.75rem;
}

.form .form-checkbox input {
	margin-right: 1rem;
}

.form label {
	display: block;
	margin-bottom: 0.5rem;
}

.form textarea {
	resize: none;
	overflow: auto;
	height: 10rem;
}

.form input,
.form select,
.form textarea {
	padding: 0.5rem 0.75rem;
}

.form .form-control {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.form .form-control .btn {
	padding: 0.5rem 0.75rem;
}

.error-message,
.success-message {
	width: fit-content;
	padding: 2rem;
	text-align: center;
	border-radius: 1rem;
	margin: 3rem auto;
}

.error-message {
	color: #ff7700;
	border: 2px solid #ff7700;
}

.success-message {
	color: #aaff00;
	border: 2px solid #aaff00;
}

.error-message p,
.success-message p {
	padding: 0;
	margin: 0;
	line-height: 1.5rem;
}

/*------ Debut page Contact -----*/
.contact-form-container {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 2rem;

	margin-top: 3rem;
}
.contact-form {
	flex-basis: 450px;
	justify-items: center;
}

.contact-address {
	text-align: center;
}
