html,
body {
	background-color: #000000;
	margin: 0;
	padding: 0;

	background-image: url("../pictures/design/background.jpg");
	background-repeat: no-repeat;
	background-position: top center;

	font-family: Georgia;
}

.header {
	height: 245px;
}

h2 {
	font-size: 1.3em;
	color: #ff7700;
	text-decoration: underline;
}

/*----------    MENU HORIZONTAL    ----------*/

.menu {
	display: flex;
	justify-content: center;
	height: 60px;

	padding: 0;
	margin: auto;
	margin-left: 170px;
}

.menu img {
	border: none;
}

.menu li {
	list-style-type: none;
}

.separateur_menu_horizontal {
	height: 60px;
	width: 2px;

	background-image: url("../pictures/design/menu/separateur_menu_horizontal.png");
}

/*----------    FIN MENU HORIZONTAL    ----------*/

.container {
	margin-top: 35px;

	text-align: justify;
	color: white;

	width: 800px;
	margin: auto;
}

.container a {
	text-decoration: none;
	color: #aaff00;
}

.container a:hover {
	text-decoration: underline;
}

.container a:visited {
	color: #00ccff;
}

.sidebar {
	width: 250px;
	float: right;
}

.sidebar_remaining_days {
	border: 3px solid #aaff00;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	background-color: #191919;
	color: #aaff00;
	text-align: center;
	font-family: sans-serif;
	font-size: 4em;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px;
}

.sidebar_remaining_places {
	border: 3px solid #00ccff;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	background-color: #191919;
	color: #00ccff;
	text-align: center;
	font-size: 1.5em;
	padding: 5px;
	margin-bottom: 15px;
}

.sidebar_news {
	border: 3px solid #ff7700;
	border-radius: 12px;
	background-color: #191919;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.sidebar_news_headtitle {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
	color: #ff7700;
}

.sidebar_news_content {
	margin-top: 6px;
	font-size: 0.85em;
}

.sidebar_news_separateur {
	height: 1px;
	width: 150px;
	margin: auto;
	border-top: 1px dashed #ff7700;
	margin-top: 10px;
	margin-bottom: 8px;
}

.mot_accueil {
	margin-right: 290px;
	text-indent: 25px;
}

.mot_accueil_signature {
	text-align: right;
	margin-right: 60px;
	margin-top: 35px;
}
.footer {
	height: 20px;
	clear: both;
}

/*----------- Debut Formulaire Inscription -----------*/
.introduction_inscription p {
	text-indent: 25px;
}

.formulaire_inscription {
	width: 520px;
}

.formulaire_inscription label {
	display: block;
	width: 155px;
	float: left;
}

.checkbox {
	margin: 0;
	padding: 0;
}

.checkbox label {
	display: inline;
	width: 100%;
	float: none;
}

.envoi {
	width: 100px;
	margin: auto;
	margin-top: 25px;
}

.inscription_illustration {
	float: right;
	width: 260px;
}

.non_valide {
	text-decoration: line-through;
}

.mise_a_jour {
	font-weight: bold;
	color: red;
}

/*------ Debut page Infos ------*/

.infos_illustrations {
	text-align: center;
}

/*------ Debut page Tools ------*/

.tools p {
	text-indent: 25px;
}

.tools_title {
	font-size: 1.3em;
	color: #ff7700;
	text-decoration: underline;
	margin-top: 25px;
}

.tools_liens_download {
	text-indent: 0px;
}

/*------ Debut page Contact -----*/

.contact p {
	text-indent: 25px;
}

.formulaire_contact {
	width: 520px;
}

.contact_adresse {
	float: right;
	width: 240px;
}
