html,
body {
	background-color: #000000;
	margin: 0;
	padding: 0;

	background-image: url("../pictures/design/background.jpg");
	background-repeat: no-repeat;
	background-position: top center;

	font-family: Georgia;
}

h2 {
	font-size: 1.3em;
	color: #ff7700;
	text-decoration: underline;
}

/*----------    MENU HORIZONTAL    ----------*/

.menu {
	position: relative;
	top: 245px;
	left: 0;
	right: 0;
	display: flex;
	justify-content: center;
	height: 60px;

	padding: 0;
	/* margin: auto; */
	margin-left: 170px;
}

.menu img {
	border: none;
}

.menu li {
	list-style-type: none;
}

.separateur_menu_horizontal {
	height: 60px;
	width: 2px;

	background-image: url("../pictures/design/menu/separateur_menu_horizontal.png");
}

/*----------    FIN MENU HORIZONTAL    ----------*/

.container {
	position: relative;
	top: 280px;

	text-align: justify;
	color: white;

	max-width: 800px;
	margin: auto;

	padding: 1rem 2rem;
}

.container a {
	text-decoration: none;
	color: #aaff00;
}

.container a:hover {
	text-decoration: underline;
}

.container a:visited {
	color: #00ccff;
}

.sidebar {
	width: 250px;
	float: right;
}

.sidebar_remaining_days {
	border: 3px solid #aaff00;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	background-color: #191919;
	color: #aaff00;
	text-align: center;
	font-family: sans-serif;
	font-size: 4em;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px;
}

.sidebar_remaining_places {
	border: 3px solid #00ccff;
	border-bottom-left-radius: 12px;
	border-bottom-right-radius: 12px;
	background-color: #191919;
	color: #00ccff;
	text-align: center;
	font-size: 1.5em;
	padding: 5px;
	margin-bottom: 15px;
}

.sidebar_news {
	border: 3px solid #ff7700;
	border-radius: 12px;
	background-color: #191919;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 7px;
	padding-bottom: 7px;
}

.sidebar_news_headtitle {
	text-align: center;
	font-size: 1.5em;
	font-weight: bold;
	margin-bottom: 10px;
	color: #ff7700;
}

.sidebar_news_content {
	margin-top: 6px;
	font-size: 0.85em;
}

.sidebar_news_separateur {
	height: 1px;
	width: 150px;
	margin: auto;
	border-top: 1px dashed #ff7700;
	margin-top: 10px;
	margin-bottom: 8px;
}

.mot_accueil {
	margin-right: 290px;
	text-indent: 25px;
}

.mot_accueil_signature {
	text-align: right;
	margin-right: 60px;
	margin-top: 35px;
}
.footer {
	height: 20px;
	clear: both;
}

/*----------- Debut Formulaire Inscription -----------*/

.formulaire_inscription {
	margin: auto;
	width: 520px;
}

.formulaire_inscription label {
	display: block;
	width: 155px;
}

.checkbox {
	margin: 0;
	padding: 0;
}

.checkbox label {
	display: inline;
	width: 100%;
	float: none;
}

.inscription_illustration {
	float: right;
	width: 260px;
}

.non_valide {
	text-decoration: line-through;
}

.mise_a_jour {
	font-weight: bold;
	color: red;
}

/*------ Debut page Infos ------*/

.infos_illustrations {
	text-align: center;
}

/*------ Debut page Tools ------*/

.tools p {
	text-indent: 25px;
}

.tools_title {
	font-size: 1.3em;
	color: #ff7700;
	text-decoration: underline;
	margin-top: 25px;
}

.tools_liens_download {
	text-indent: 0px;
}

/*------ Form Generic -----*/
.form .form-group {
	display: flex;
	flex-direction: column;

	margin-bottom: 0.75rem;
}
.form label {
	display: block;
	margin-bottom: 0.5rem;
}

.form input,
.form select {
	padding: 0.5rem 0.75rem;
}

.form .form-control {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.form .form-control .btn {
	padding: 0.5rem 0.75rem;
}

/*------ Debut page Contact -----*/
.contact-form-container {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: center;
	gap: 2rem;

	margin-top: 3rem;
}
.contact-form {
	flex-basis: 500px;
	justify-items: center;
}

.contact-address {
	text-align: center;
}

@media screen and (max-width: 900px) {
	.contact-form-container {
		flex-direction: column-reverse;
	}
	.contact-form {
		flex-basis: 100%;
		flex-grow: 1;
	}
}
