@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply mb-8 text-center text-3xl font-bold text-lime-400;
	}
	h2 {
		@apply mb-6 text-2xl font-bold text-orange-400;
	}

	p {
		@apply mb-4;
	}

	p:last-child {
		@apply mb-0;
	}

	main {
		@apply mb-8;
	}
	section {
		@apply mb-8;
	}

	section:last-child {
		@apply mb-0;
	}

	a {
		@apply text-cyan-400;
	}
}

body {
	background-color: #000000;

	background-image: url('../images/design/background.jpg');
	background-repeat: no-repeat;
	background-position: top center;
}

.menu {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	margin-top: 245px;
	margin-left: 250px;
	margin-bottom: 2rem;
}

.menu-splitter {
	height: 40px;
	width: 2px;

	margin: 0 0.5rem;

	background-color: rgba(255, 255, 255, 0.2);
}
