<h1>Merci {{ attendant.firstName }} de votre pr&eacute;inscritpion &agrave; cette Lan Night</h1>

<p>
    N'oubliez pas de nous retourner le r&eacute;glement int&eacute;rieur sign&eacute;
    ainsi que votre paiment pour valider l'inscription.
</p>