<div class="contact-address">
	<h3>
		Adresse de la MTB
	</h3>
	<address>
		Maison du Tourisme<br />
		9 place Emile BLONDEAU<br />
		89210 Brienon / Arman&ccedil;on<br />
		tel : 03&nbsp;86&nbsp;43&nbsp;03&nbsp;36
	</address>

	<a href="http://maps.google.fr/maps?hl=fr&q=place+emile+drominy+89210&um=1&ie=UTF-8&hq=&hnear=Place+Emile+Drominy,+89210+Brienon-sur-Arman%C3%A7on&gl=fr&ei=zZtBS87eLImt4QaQ--SqCA&sa=X&oi=geocode_result&ct=title&resnum=1&ved=0CAoQ8gEwAA">
		Voir sur Google Map
	</a>
</div>
