<div class="contact-address">
    <h3>
        Adresse de la MTB
    </h3>
    <p>
        Maison du Tourisme<br />
        9 place Emile BLONDEAU<br />
        89210 Brienon / Arman&ccedil;on<br />
        tel : 03&nbsp;86&nbsp;43&nbsp;03&nbsp;36
    </p>
</div>