<ul class="menu">
    <li>
        <a href={{ path('app_home') }}>
            <img src="pictures/design/menu/lien_home_out.png"
                onmouseover="this.src = 'pictures/design/menu/lien_home_hover.png';"
                onmouseout="this.src = 'pictures/design/menu/lien_home_out.png';" alt="Accueil" />
        </a>
    </li>

    <li class="separateur_menu_horizontal"></li>

    <li>
        <a href={{ path('app_informations') }}>
            <img src="pictures/design/menu/lien_infos_out.png"
                onmouseover="this.src = 'pictures/design/menu/lien_infos_hover.png';"
                onmouseout="this.src = 'pictures/design/menu/lien_infos_out.png';" alt="Infos" />
        </a>
    </li>

    <li class="separateur_menu_horizontal"></li>

    <li>
        <a href="#">
            <img src="pictures/design/menu/lien_jeux_out.png"
                onmouseover="this.src = 'pictures/design/menu/lien_jeux_hover.png';"
                onmouseout="this.src = 'pictures/design/menu/lien_jeux_out.png';" alt="Jeux" />
        </a>
    </li>

    <li class="separateur_menu_horizontal"></li>

    <li>
        <a href="#">
            <img src="pictures/design/menu/lien_tools_out.png"
                onmouseover="this.src = 'pictures/design/menu/lien_tools_hover.png';"
                onmouseout="this.src = 'pictures/design/menu/lien_tools_out.png';" alt="Tools" />
        </a>
    </li>

    <li class="separateur_menu_horizontal"></li>

    <li>
        <a href="#">
            <img src="pictures/design/menu/lien_inscription_out.png"
                onmouseover="this.src = 'pictures/design/menu/lien_inscription_hover.png';"
                onmouseout="this.src = 'pictures/design/menu/lien_inscription_out.png';" alt="Inscription" />
        </a>
    </li>

    <li class="separateur_menu_horizontal"></li>

    <li>
        <a href="#">
            <img src="pictures/design/menu/lien_contact_out.png"
                onmouseover="this.src = 'pictures/design/menu/lien_contact_hover.png';"
                onmouseout="this.src = 'pictures/design/menu/lien_contact_out.png';" alt="Contact" />
        </a>
    </li>
</ul>